html, body
{
    height: 100%;
    background-color: #272822;
}

/**************************************
    Sections and tabs take all height
*/
.site,
.site > .row
{
    height: 100%;
}

.toolbar
{
    min-height: 10%;
    height: 10%;
}

.editors > .row
{
    min-height: 100%;
    height: 100%;
}

.editors
{
    min-height: 75%;
    height: 75%;
}
/*
    TODO:
    fix the issue with div overflow when height is 100%  without using padding-bottom
*/
    .editor-tabs
    { 
        min-height: 46px;
        height: 46px;
    }

    .editor-documents
    { 
        min-height: 100%;
        height: 100%;
        padding-bottom: 46px; /* same as editor-tabs height */
    }

.output
{ 
    min-height: 15%;
    height: 15%;
}

.tab-content,
.tab-pane
{ 
    min-height: 100%;
    height: 100%;
}
/*
    .end - Sections and tabs take all height
**************************************/

/**************************************
    Colors
*/
.toolbar
{
    background: #BF5413;
    color: #EBCBB8;
}

.editor-tabs
{
    background-color: #272822;
    color: #F8F8F2;
}

.output
{
    background: #455466;
    color: #FAFAFA;
}

.btn-warning
{
    background-color: #BF5413;
    border-color: #BF5413;
}

.btn-primary
{
    background-color: #455466;
    border-color: #455466;
}
/*
    .end - Colors
**************************************/


/**************************************
    Tweaks
*/
.editor-documents
{
    /*
    padding-left: 0px;
    padding-right: 0px;
    */
}

.output
{
    background: #455466;
}

/* Align toolbar buttons vertically */
.toolbar
{
    display: flex;
    align-items: center;
}

/* give editor tabs different hover and active colors */
.editor-tabs .nav-tabs > li > a:hover
{
    background-color: #BF5413 !important;
}
.editor-tabs .nav > li.active > a
{
    background-color: #BF5413 !important;
}

/*
    .end - Tweaks
**************************************/


/**************************************
    Settings (and other similar) panel
*/
.panel-settings
{
    color: #FFFFFF;
    background-color: rgba(0,0,0,0);
    height: 100%;
}

.panel-settings > .panel-heading
{
    color: #FFFFFF;
    background-color: rgba(69, 84, 102, 0.5); /* btn-primary color with 0.5 alpha*/
}
/*
    .end - Settings
**************************************/

