HTML fragments used to construct new tabbed panel. Tabbed panels are implemented
using Bootstrap 'nav-tab'.

The tab has close button 'X' next to it's title.
In order for this button to work, click event has to be bind to it
once the tab is added to DOM.

###########################################################################
parameters:
- tabId
- tabTitle

#! tabNav

    <li role="presentation" data-tab-id="{tabId}">
        <a href="#{tabId}" aria-controls="{tabId}" role="tab" data-toggle="tab">
            <button type="button" class="close close-tab" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {tabTitle} &nbsp;
        </a>
    </li>

#!
###########################################################################

###########################################################################
parameters:
- tabId
- panelContent

tabId is required for the div, it is used by Ace Editor to create an editor instance

#! tabPanel

    <div role="tabpanel" class="tab-pane" id="{tabId}">
        {panelContent}
    </div>

#!
###########################################################################

