Long # line is there just to make things pretty

###########################################################################
#! tab
# this is a comment, ja?

                <li role="presentation" class="active">
                    <a href="#{tabId}" aria-controls="{tabId}" role="tab" data-toggle="tab">
                        <button type="button" class="close close-tab" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {tabTitle} &nbsp;
                    </a>
                </li>
#!
###########################################################################

Everything between two fragments (#! <name> line and #! line) is ignored.
Excellent opportunity to confuse the cats!

###########################################################################
#! pane
# this 'pane' fragment, with the 'tab' above, is used to create a new editor panel
                <div role="tabpanel" class="tab-pane" id="{tabId}">
                    {content}
                </div>
#!
###########################################################################


This is completely ignored, since it is not enclosed between fragment markers...

<script type="text/javascript">
    var fragments = function(fileContent)
    {
        var lines = fileContent.split('\n')
        
        var fragmentNameRegex = /^#!\s(\w+)$/gm
        var fragmentCommentRegex = /^#[^!].*$/gm
        var fragmentEndRegex = /^#!\s*$/gm

        var fragmentArray = {}
        var currentFragmentName = null
        var currentFragment = ''
        
        $j.each(lines, function(idx, line){
            var fragmentNameMatches = fragmentNameRegex.exec(line)
            var fragmentCommentMatches = fragmentCommentRegex.exec(line)
            var fragmentEndMatches = fragmentEndRegex.exec(line)

            if(fragmentNameMatches !== null)
            {
                currentFragmentName = fragmentNameMatches[1]
                currentFragment = ''
            }
            else if(fragmentEndMatches !== null)
            {
                fragmentArray[currentFragmentName] = currentFragment
                currentFragmentName = null
                currentFragment = ''
            }
            else if(fragmentCommentMatches === null)
            {
                if(currentFragmentName !== null)
                {
                    currentFragment += line + '\n'
                }
            }

        })

        return fragmentArray
    }
</script>
